openapi: 3.2.0
info:
  title: Minds Public Agent Runs API
  version: v1
  description: 'OpenAPI 3.1.0 spec for the Minds public API (https://getminds.ai/api/v1 / https://api.getminds.ai/v1). Generate a typed TypeScript client by running an OpenAPI generator (e.g. `openapi-typescript`) against `/_openapi.json`. Auth: send `Authorization: Bearer minds_…_key`; create keys in Settings → API Keys.'
servers:
- url: https://api.getminds.ai
  description: Production (api subdomain)
- url: https://getminds.ai
  description: Production (apex)
security:
- ApiKeyAuth: []
tags:
- name: Agent Runs
paths:
  /api/v1/runs/{runId}/cancel:
    post:
      parameters:
      - in: path
        name: runId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Cancellation state.
        '404':
          description: Run not found.
      operationId: cancelAgentRun
      summary: Cancel a durable run
      tags:
      - Agent Runs
      security:
      - ApiKeyAuth: []
  /api/v1/runs/{runId}/events:
    get:
      parameters:
      - in: path
        name: runId
        required: true
        schema:
          type: string
          format: uuid
      - in: query
        name: after
        required: false
        schema:
          type: integer
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
      responses:
        '200':
          description: Events ordered by monotonically increasing sequence.
      operationId: listAgentRunEvents
      summary: Replay ordered durable run events
      tags:
      - Agent Runs
      security:
      - ApiKeyAuth: []
  /api/v1/runs/{runId}:
    get:
      parameters:
      - in: path
        name: runId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Authoritative run status.
        '404':
          description: Run not found.
      operationId: getAgentRun
      summary: Get durable run status
      tags:
      - Agent Runs
      security:
      - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'Personal API key. Format: `Bearer minds_…_key`. Create one at https://getminds.ai/settings/api-keys.'
