{"openapi":"3.1.0","info":{"title":"Minds Public API","version":"v1","description":"OpenAPI 3.1.0 spec for the Minds public API (https://getminds.ai/api/v1 / https://api.getminds.ai/v1). Generate a typed TypeScript client by running an OpenAPI generator (e.g. `openapi-typescript`) against `/_openapi.json`. Auth: send `Authorization: Bearer minds_…_key`; create keys in Settings → API Keys."},"servers":[{"url":"https://api.getminds.ai","description":"Production (api subdomain)"},{"url":"https://getminds.ai","description":"Production (apex)"}],"paths":{"/api/v1/api-keys/{keyId}":{"delete":{"parameters":[{"in":"path","name":"keyId","required":true,"description":"API key ID from `GET /v1/api-keys` (cuid: `c` followed by 24 lowercase alphanumerics).","schema":{"type":"string","pattern":"^c[a-z0-9]{24}$"}}],"responses":{"204":{"description":"API key deleted. Empty body."},"400":{"description":"`API key ID is required` or `Invalid API key ID format` (not a well-formed cuid)."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"403":{"description":"No active subscription (`Forbidden`): API key access requires an active subscription. Please upgrade to the Premium or Team plan."},"404":{"description":"`API key not found`: no key with this ID belongs to the authenticated account."}},"operationId":"deleteApiKey","summary":"Revoke an API key","description":"Permanently delete one API key owned by the authenticated account. The key stops authenticating immediately (the resolver cache is invalidated on delete). Use this to rotate credentials: create a replacement with `POST /v1/api-keys`, switch your integration over, then revoke the old key. Deleting the key used for the current request is allowed. Requires an active Premium or Team subscription.","tags":["API Keys"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/api-keys":{"get":{"parameters":[],"responses":{"200":{"description":"API keys ordered by `createdAt` descending.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeySummary"}},"example":[{"id":"clx1a2b3c4d5e6f7g8h9i0j1k","name":"prod","createdAt":"2025-12-10T12:00:00.000Z","lastUsedAt":"2025-12-10T13:00:00.000Z"}]}}},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"403":{"description":"No active subscription (`Forbidden`): API key access requires an active subscription. Please upgrade to the Premium or Team plan."}},"operationId":"listApiKeys","summary":"List API keys","description":"List metadata for every API key on the authenticated account, newest first. Secret key values are never returned; the raw key is shown exactly once, in the response of `POST /v1/api-keys`. Requires an active Premium or Team subscription.","tags":["API Keys"],"security":[{"ApiKeyAuth":[]}]},"post":{"parameters":[],"responses":{"201":{"description":"API key created. `key` is the raw secret and is only ever returned in this response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreated"},"example":{"id":"clx1a2b3c4d5e6f7g8h9i0j1k","name":"prod","createdAt":"2025-12-10T12:00:00.000Z","key":"minds_0000111122223333444455556666777788889999aaaabbbb"}}}},"400":{"description":"`name must be a string` (non-string, non-null `name`) or `name must be 100 characters or fewer` (after trimming)."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"403":{"description":"No active subscription (`Forbidden`: API key access requires an active subscription. Please upgrade to the Premium or Team plan.) or `API keys are disabled for this SSO-linked account`."}},"operationId":"createApiKey","summary":"Create an API key","description":"Mint a new API key for the authenticated account and return its secret value exactly once. Store the `key` immediately; it cannot be retrieved again (`GET /v1/api-keys` returns metadata only). The body is optional: send `{ \"name\": \"prod\" }` to label the key, or no body at all for an unnamed key. Requires an active Premium or Team subscription. Accounts whose credentials are managed by an SSO identity link cannot mint API keys.","tags":["API Keys"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":["string","null"],"maxLength":100,"description":"Optional label shown in the key list and Settings UI. Whitespace is trimmed; an empty, null, or missing value stores the key unnamed (`name: null`)."}}},"examples":{"named":{"summary":"Labelled key","value":{"name":"prod"}},"unnamed":{"summary":"Unnamed key (empty body is also accepted)","value":{}}}}}}}},"/api/v1/audiences/{audienceId}":{"delete":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"The Audience and its orphan-only member Minds were deleted."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Audience not found`: the Audience does not exist or the caller is not its owner."}},"operationId":"deleteAudience","summary":"Delete an Audience","description":"Permanently deletes an Audience. Owner only; collaborators and viewers receive 404. The deletion cascades to member Minds that the caller owns and that belong to no other Audience, so those Minds (with their training data and Study links) are removed too. Minds owned by other users, and Minds that are also members of another Audience, are kept. Remove Minds you want to keep with `DELETE /audiences/{audienceId}/members/{mindId}` first, or add them to another Audience.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]},"get":{"parameters":[{"in":"query","name":"members","description":"Use preview for bounded display profiles without reviewed-field metadata; omitted preserves the complete legacy detail response.","schema":{"type":"string","enum":["preview"]}},{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The Audience detail.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AudienceDetail"}}}}}},"400":{"description":"`Audience ID is required` or `Invalid audience ID format` (the path parameter is not a UUID)."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Audience not found`: the Audience does not exist or the caller cannot view it."}},"operationId":"getAudience","summary":"Get an Audience","description":"Returns one Audience with its member Minds (each with its cohort profile), the caller's role, the stored grounding, the source bundle (brief, adjustments, keywords, links, files), member-derived baseline distributions, and the transient recalibration state. Use it to inspect an Audience before attaching it to a Study, to poll `calibration.active` after `POST /audiences/{audienceId}/recalibrate`, or to watch member `profileImageUrl` values arrive after `regenerate-images`. Formations are not embedded; list them with `GET /audiences/{audienceId}/formations`. Readable by the owner, direct members, members of the owner's team when the Audience is team-shared, any authenticated caller when the Audience is public, and members of a Study that contains the Audience. Setting `isSharedWithTeam: true` lets every member of the owner's team open the Audience and read and chat with every Mind in it, even when those Minds are not shared individually; it grants no edit rights on the Minds. Explicit Audience members get the same read access. Only collaborators (owner, direct member, team member) receive the sharing fields `isSharedWithTeam`, `isLinkSharingEnabled` and `publicShareId`; public and Study-cascade viewers get `currentMemberRole: public_viewer`, and uploaded-file URLs in `sources` and `grounding.sources` are redacted for them.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]},"put":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The updated Audience.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["id","name","mindCount","minds","createdAt","updatedAt","isPublic","isSharedWithTeam","isLinkSharingEnabled","publicShareId","currentMemberRole"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"mindCount":{"type":"integer","minimum":0},"minds":{"type":"array","items":{"$ref":"#/components/schemas/AudienceMindSummary"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"isPublic":{"type":"boolean"},"isSharedWithTeam":{"type":"boolean"},"isLinkSharingEnabled":{"type":"boolean"},"publicShareId":{"type":["string","null"]},"currentMemberRole":{"type":"string","enum":["owner","admin","member","team_member"]}}}}}}}},"400":{"description":"`name is required` (missing or blank name), `Audience ID is required`, or `Invalid audience ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Audience not found`: the Audience does not exist or the caller has no edit access (public and Study-link viewers included)."}},"operationId":"updateAudience","summary":"Update an Audience name and sharing settings","description":"Renames an Audience and optionally changes its visibility. `name` is required on every call; `isPublic` and `isSharedWithTeam` are applied only when sent as booleans and left unchanged otherwise. `isLinkSharingEnabled` cannot be changed here (it is echoed in the response). Allowed for collaborators: the owner, direct members, and members of the owner's team when the Audience is team-shared. Public and Study-link viewers receive 404. Setting `isSharedWithTeam: true` lets every member of the owner's team open the Audience and read and chat with every Mind in it, even when those Minds are not shared individually; it grants no edit rights on the Minds. Explicit Audience members get the same read access. Setting `isPublic: true` lists the Audience in the marketplace and queues a cover image for it.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"description":"New Audience name; surrounding whitespace is trimmed. Required even when only sharing flags change."},"isPublic":{"type":"boolean","description":"List the Audience publicly. Anyone signed in can then open it and its Minds."},"isSharedWithTeam":{"type":"boolean","description":"Share with every member of the owner's team. Grants read-and-chat access to all member Minds; no edit rights on the Minds."}}},"examples":{"rename":{"value":{"name":"German SaaS buyers (2026)"}},"shareWithTeam":{"value":{"name":"German SaaS buyers","isSharedWithTeam":true}}}}}}}},"/api/v1/audiences/{audienceId}/export-download":{"get":{"parameters":[{"in":"path","name":"audienceId","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Audience export artifact."}},"operationId":"downloadAudienceExport","summary":"Download an Audience export","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/{audienceId}/export-status":{"get":{"parameters":[{"in":"path","name":"audienceId","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Audience export status."}},"operationId":"getAudienceExportStatus","summary":"Get Audience export status","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/{audienceId}/export":{"post":{"parameters":[{"in":"path","name":"audienceId","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Cached artifact or queued export job."}},"operationId":"exportAudienceBrief","summary":"Export an Audience brief","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/{audienceId}/follow":{"delete":{"parameters":[{"name":"audienceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Audience unfollowed."},"401":{"description":"Unauthorized."}},"operationId":"unfollowAudience","summary":"Unfollow a public Audience","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]},"post":{"parameters":[{"name":"audienceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Audience followed."},"401":{"description":"Unauthorized."},"404":{"description":"Public Audience not found."}},"operationId":"followAudience","summary":"Follow a public Audience","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/{audienceId}/formations/{formationId}":{"delete":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}},{"name":"formationId","in":"path","required":true,"description":"Formation ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"The Formation was deleted."},"400":{"description":"`Audience ID is required`, `Invalid audience ID format`, `Formation ID is required`, or `Invalid formation ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Formation not found`: the Audience is not viewable, or the Formation does not exist, is already deleted, or is not mutable by the caller."}},"operationId":"deleteFormation","summary":"Delete a Formation","description":"Soft-deletes a Formation so it disappears from listings while Study messages that referenced it keep rendering. Collaborators may delete shared Formations and their own private ones; other viewers may delete only Formations they created privately. A Formation the caller cannot mutate yields 404.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]},"get":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}},{"name":"formationId","in":"path","required":true,"description":"Formation ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The Formation detail.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/Formation"}}}}}},"400":{"description":"`Audience ID is required`, `Invalid audience ID format`, `Formation ID is required`, or `Invalid formation ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Formation not found`: the Audience is not viewable, or the Formation does not exist, was deleted, or is private to another viewer."}},"operationId":"getFormation","summary":"Get a Formation with its subgroups and members","description":"Returns one Formation: build status, live build progress, the stored hypothesis, and the real subgroups with their member assignments and confidences. Poll this after `POST /formations`, `POST /formations/preview` acceptance, or `recompute` until `status` is `ready` or `failed`; while `building`, `subgroups` may be empty and `hypothesis.subgroups` describes the proposed buckets. Visible to any Audience viewer for shared Formations and to the creator for private ones.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/{audienceId}/formations/{formationId}/recompute":{"post":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}},{"name":"formationId","in":"path","required":true,"description":"Formation ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The rebuild was queued.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["id","status"],"properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["building","ready","failed"],"description":"Usually `building`; already terminal when the build ran inline."}}}}}}}},"400":{"description":"`Audience ID is required`, `Invalid audience ID format`, `Formation ID is required`, or `Invalid formation ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Formation not found`: the Audience is not viewable, or the Formation does not exist, is deleted, or is not mutable by the caller."}},"operationId":"recomputeFormation","summary":"Re-sort the current members into an existing Formation","description":"Re-classifies the Audience's current members against the Formation's stored hypothesis and swaps the subgroups in place, without a new preview. Use it after members were added or recalibrated, or to recover a Formation stuck in `building` or `failed`. Flips `status` to `building` and returns immediately; poll `GET /audiences/{audienceId}/formations/{formationId}`. Same mutability rules as delete: collaborators for shared Formations, creators for private ones.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/{audienceId}/formations":{"get":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Visible Formations.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FormationSummary"}}}}}}},"400":{"description":"`Audience ID is required` or `Invalid audience ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Formation not found`: the Audience does not exist or the caller cannot view it (the message deliberately does not reveal which)."}},"operationId":"listFormations","summary":"List the Formations of an Audience","description":"Lists the Formations (persisted segmentations) visible to the caller on an Audience: shared Formations plus the caller's own private ones, newest first, each with its subgroups and membership counts. Soft-deleted Formations are excluded. Anyone who can view the Audience may call this. Opening the list also seeds the canonical default and grounding-derived Formations for collaborators and re-queues stalled builds, so rows may come back with `status: building`; poll `GET /audiences/{audienceId}/formations/{formationId}` until they are `ready` or `failed`. Only one row per auto dimension is returned (ready preferred over building over failed).","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]},"post":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The Formation was created and its build queued.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["id","name","status"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"status":{"type":"string","enum":["building","ready","failed"]}}}}}}}},"400":{"description":"`Invalid hypothesis` (needs `intent` and 2 to 15 subgroups with `id`, `label`, `definition`), `Audience has no members to categorize`, `FORMATION_CAP` (more than 1000 members), `Audience ID is required`, or `Invalid audience ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Formation not found`: the Audience does not exist or the caller cannot view it."}},"operationId":"createFormation","summary":"Create a Formation from an accepted hypothesis","description":"Creates a Formation from a hypothesis (the subgroup proposal returned by `POST /audiences/{audienceId}/formations/preview`, optionally edited) and starts sorting the Audience's members into its subgroups. Returns immediately with `status: building`; poll `GET /audiences/{audienceId}/formations/{formationId}` until `ready` or `failed`. When the build runs inline the returned status may already be terminal. Any Audience viewer may create a Formation: collaborators create `shared` Formations, other viewers create ones private to themselves. The Audience must have at least one member and at most 1000.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["hypothesis"],"properties":{"hypothesis":{"$ref":"#/components/schemas/FormationHypothesis"},"name":{"type":"string","description":"Optional display name. Defaults to a compact form of `hypothesis.intent`."}}},"examples":{"byGender":{"value":{"name":"By gender","hypothesis":{"intent":"Audience by gender","subgroups":[{"id":"female","label":"Female","definition":"Members who identify as women."},{"id":"male","label":"Male","definition":"Members who identify as men."}]}}}}}}}}},"/api/v1/audiences/{audienceId}/formations/preview":{"post":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}},{"name":"Accept","in":"header","required":false,"description":"Include `application/json` to get a single JSON response instead of the NDJSON stream.","schema":{"type":"string","enum":["application/json","application/x-ndjson"]}}],"responses":{"200":{"description":"The proposed hypothesis, either as one JSON document or as an NDJSON event stream.","content":{"application/json":{"schema":{"type":"object","required":["success","data"],"properties":{"success":{"type":"boolean","enum":[true]},"data":{"type":"object","required":["memberCount","softWarn","hardCapExceeded","phase","hypothesis"],"properties":{"memberCount":{"type":"integer","minimum":0},"softWarn":{"type":"boolean","description":"True from 50 members: builds take noticeably longer."},"hardCapExceeded":{"type":"boolean","description":"True above 1000 members: `POST /formations` will refuse with `FORMATION_CAP`."},"phase":{"type":"string","enum":["hypothesizing"]},"hypothesis":{"$ref":"#/components/schemas/FormationHypothesis"}}}}}},"application/x-ndjson":{"schema":{"type":"object","description":"One event per line.","required":["type"],"properties":{"type":{"type":"string","enum":["meta","status","subgroups","error","done"]},"data":{"description":"`meta`: `{ memberCount, softWarn, hardCapExceeded }`; `status`: `{ phase: \"hypothesizing\" }`; `subgroups`: a FormationHypothesis. Absent on `error` and `done`.","oneOf":[{"type":"object","required":["memberCount","softWarn","hardCapExceeded"],"properties":{"memberCount":{"type":"integer"},"softWarn":{"type":"boolean"},"hardCapExceeded":{"type":"boolean"}}},{"type":"object","required":["phase"],"properties":{"phase":{"type":"string","enum":["hypothesizing"]}}},{"$ref":"#/components/schemas/FormationHypothesis"}]},"error":{"type":"string","description":"Failure message; only on `error` events."}}}}}},"400":{"description":"`Audience ID is required` or `Invalid audience ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Formation not found`: the Audience does not exist or the caller cannot view it."},"500":{"description":"JSON mode only: the model could not propose subgroups (`Failed to propose subgroups` or the underlying error message). In NDJSON mode the same failure arrives as an in-band `error` event with HTTP 200."}},"operationId":"previewFormation","summary":"Propose Formation subgroups without creating anything","description":"Asks the model to propose a subgroup hypothesis for this Audience from a free-text request (e.g. \"split by purchase frequency\"). Nothing is persisted; pass the returned hypothesis (edited if you like) to `POST /audiences/{audienceId}/formations` to build it, or re-post with `priorHypothesis` set to the previous proposal to request a rework. Any Audience viewer may call this. Send `Accept: application/json` to receive one JSON document; otherwise the response is a newline-delimited JSON stream (`application/x-ndjson`) of `{ type, data }` events in the order `meta`, `status`, `subgroups`, `done`, with failures reported in-band as `{ type: \"error\", error }` followed by `done`.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"userInput":{"type":"string","description":"What to split by. Defaults to \"Split this audience into meaningful subgroups.\""},"priorHypothesis":{"allOf":[{"$ref":"#/components/schemas/FormationHypothesis"}],"description":"The previous proposal when asking for a rework; invalid values are ignored."}}},"examples":{"first":{"value":{"userInput":"Split by how often they buy online"}}}}}}}},"/api/v1/audiences/{audienceId}/members":{"post":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The Minds were added (or were already members).","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["added"],"properties":{"added":{"type":"integer","minimum":1,"description":"Number of distinct Mind IDs in the request."}}}}}}}},"400":{"description":"`mindId or mindIds is required`, `At least one Mind ID is required` (empty array), a retired field name (rejected with a message naming its replacement), `Audience ID is required`, or `Invalid audience ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"403":{"description":"Adding these Minds would exceed the plan's Audience member cap. `statusMessage` names the plan and the limit; `data` carries the plan-limit envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanLimitError"}}}},"404":{"description":"`Audience not found` (missing, or the caller is not the owner), or `One or more Minds not found or not accessible` (a Mind is neither owned by the caller nor public). Nothing is added in either case."}},"operationId":"addAudienceMembers","summary":"Add Minds to an Audience","description":"Adds one Mind (`mindId`) or several Minds (`mindIds`) to an Audience. Owner only; collaborators and viewers receive 404. Every Mind must be owned by the caller or public, otherwise nothing is added. Minds that are already members are ignored, so the call is idempotent; `added` reports the number of distinct IDs in the request, not the number of new memberships. Newly added Minds are sorted into the Audience's ready Formations in the background, and default Formations are seeded if the Audience had none. Use `mindIds` rather than the retired `mindId`/`mindIds` fields.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Send either `mindId` or `mindIds`. When both are present `mindId` wins.","properties":{"mindId":{"type":"string","format":"uuid","description":"A single Mind to add."},"mindIds":{"type":"array","minItems":1,"items":{"type":"string","format":"uuid"},"description":"Several Minds to add. Duplicate IDs are deduplicated."}}},"examples":{"single":{"value":{"mindId":"6f1d2c3a-1111-4222-8333-444455556666"}},"bulk":{"value":{"mindIds":["6f1d2c3a-1111-4222-8333-444455556666","0a9b8c7d-2222-4333-8444-555566667777"]}}}}}}}},"/api/v1/audiences/{audienceId}/members/{mindId}":{"delete":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}},{"name":"mindId","in":"path","required":true,"description":"Mind ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"The Mind is no longer a member of the Audience."},"400":{"description":"`Audience ID is required`, `Invalid audience ID format`, `Mind ID is required`, or `Invalid mind ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Audience not found`: the Audience does not exist or the caller is not its owner."}},"operationId":"removeAudienceMember","summary":"Remove a Mind from an Audience","description":"Removes one Mind from an Audience and from every Formation subgroup on that Audience. The Mind itself is not deleted. Owner only; collaborators and viewers receive 404. Removing a Mind that is not a member is a no-op that still returns 204.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/{audienceId}/progress":{"get":{"parameters":[{"name":"audienceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Current member progress snapshot."},"401":{"description":"Unauthorized."},"404":{"description":"Audience not found."}},"operationId":"getAudienceProgress","summary":"Get the current creation progress for an Audience","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/{audienceId}/recalibrate":{"post":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Grounding and member profiles were updated. Member retraining and new-member training continue in the background.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["grounding","refreshedMembers","evolvedMembers","retrainingMembers","addedMembers"],"properties":{"grounding":{"type":"object","required":["distributions","sources","summary","confidence","appliedToPersonas","allocationConfig","allocationAudit"],"properties":{"distributions":{"type":"array","items":{"$ref":"#/components/schemas/GroundingDistribution"}},"reviewDistributions":{"type":"array","items":{"$ref":"#/components/schemas/GroundingDistribution"}},"sources":{"type":"array","items":{"$ref":"#/components/schemas/GroundingSource"}},"summary":{"type":["string","null"]},"confidence":{"type":"number","minimum":0,"maximum":1},"suggestedMinAudienceSize":{"type":"integer"},"appliedToPersonas":{"type":"boolean"},"allocationConfig":{"type":["object","null"]},"allocationAudit":{"type":["object","null"]},"hardConstraints":{"oneOf":[{"$ref":"#/components/schemas/GroundingHardConstraints"},{"type":"null"}]}}},"refreshedMembers":{"type":"integer","minimum":0,"description":"Members rebuilt in place with a new persona and portrait because their new segment contradicted their identity."},"evolvedMembers":{"type":"integer","minimum":0,"description":"Members that kept name and portrait but received a new role and description (non-visual axis change)."},"retrainingMembers":{"type":"integer","minimum":0,"description":"Rebuilt plus evolved members whose knowledge is being retrained in the background."},"addedMembers":{"type":"integer","minimum":0,"description":"New members created by an additive instruction; their training is queued."}}}}}}}},"400":{"description":"`Invalid recalibrate payload` (schema violation), `Invalid distributions payload` (selection mode produced no usable distributions), `Audience ID is required`, or `Invalid audience ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"403":{"description":"An additive instruction with an explicit count exceeds the plan's Audience member cap, the Audience is already at the cap, or the plan's overall Mind quota would be exceeded. `data` carries the plan-limit envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanLimitError"}}}},"404":{"description":"`Audience not found`: the Audience does not exist or the caller is not its owner."},"409":{"description":"`A recalibration is already running for this audience. Wait for it to finish and try again.`, or a refusal with `data.code: AUDIENCE_MINDS_SHARED` listing the members that also belong to other Audiences (retry with `allowSharedMinds: true` or remove them first).","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"integer","enum":[409]},"statusMessage":{"type":"string"},"data":{"type":"object","properties":{"code":{"type":"string","enum":["AUDIENCE_MINDS_SHARED"]},"sharedMinds":{"type":"array","items":{"type":"object","required":["mindId","mindName","otherAudiences"],"properties":{"mindId":{"type":"string","format":"uuid"},"mindName":{"type":"string"},"otherAudiences":{"type":"array","items":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}}}}}}}}}}}}}},"422":{"description":"Research mode: `Could not find sufficient scientific data to ground this audience. Try a more specific description.` or `The requested distribution could not be added.`; selection mode on an Audience without stored grounding: `This audience has no grounding to recalibrate. Run a research recalibration first.`"},"500":{"description":"The run failed after it started; the calibration marker is cleared so a retry is possible."}},"operationId":"recalibrateAudience","summary":"Recalibrate an Audience's grounding and members","description":"Refreshes the stored grounding of a saved Audience and re-allocates its members to the resulting distributions. Owner only. Two modes: research mode (default) re-runs deep research from the persisted brief, every earlier adjustment and the optional `instruction`, `sources` and `requestedDistribution`, or from `query` as a full override; selection mode (`distributions` present) skips research and only replaces the active distribution set, keeping the stored sources and review universe. In research mode the instruction is classified first: an adjustment (\"make men 40%\", \"now they are all vegan\", \"only 50 to 60 years old\") re-allocates the existing roster and rebuilds or evolves the members whose new segment contradicts who they are, while an additive instruction (\"and now add 10 African consumers\") keeps the existing members untouched and creates new ones within the plan's member cap. The request is synchronous for the grounding and the roster change; member retraining continues in the background. Poll `GET /audiences/{audienceId}/progress` for per-member training and `GET /audiences/{audienceId}` for `calibration.active`. Only one recalibration may run per Audience at a time. Because recalibration rewrites the members' profiles and knowledge globally, it is refused with 409 `AUDIENCE_MINDS_SHARED` when members also belong to other Audiences unless `allowSharedMinds: true` is sent (additive runs are exempt).","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","maxLength":4000,"description":"Research mode. Full override of the research query; the persisted brief and adjustments are ignored and nothing is persisted for replay."},"instruction":{"type":"string","maxLength":4000,"description":"Research mode. Adjustment appended to the replayed brief, e.g. \"add an income distribution\" or \"skew younger\". Persisted so later recalibrations replay it (additive instructions are stored declaratively)."},"requestedDistribution":{"type":"string","minLength":1,"maxLength":120,"description":"Research mode. Topic of exactly one distribution to add. Guaranteed to materialise (as an assumed-evidence axis when research finds no data); the existing axes and targets are preserved."},"sources":{"type":["object","null"],"description":"Research mode. Extra user sources, persisted to the Audience's source bundle and cited by the research run. Each list holds at most 20 entries.","properties":{"files":{"type":"array","maxItems":20,"items":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string","maxLength":300},"url":{"type":"string","maxLength":2000,"description":"URL of an already uploaded file."}}}},"links":{"type":"array","maxItems":20,"items":{"type":"string","maxLength":2000}},"keywords":{"type":"array","maxItems":20,"items":{"type":"string","maxLength":200}}}},"distributions":{"type":"array","description":"Selection mode. The complete active distribution set after a select/deselect edit of the saved review universe. Presence of this field (even empty) selects selection mode.","items":{"$ref":"#/components/schemas/GroundingDistribution"}},"allowSharedMinds":{"type":"boolean","description":"Accept that members shared with other Audiences are rewritten there too. Required to proceed when the 409 `AUDIENCE_MINDS_SHARED` refusal was returned."}}},"examples":{"adjust":{"value":{"instruction":"Make it 60% women and skew younger"}},"addDistribution":{"value":{"requestedDistribution":"Preferred furniture materials"}},"grow":{"value":{"instruction":"And now add 10 consumers from Nigeria"}},"selection":{"value":{"distributions":[{"name":"Gender","distribution":[{"label":"Female","pct":60,"sourceIdx":0},{"label":"Male","pct":40,"sourceIdx":0}]}]}}}}}}}},"/api/v1/audiences/{audienceId}/regenerate-images":{"post":{"parameters":[{"name":"audienceId","in":"path","required":true,"description":"Audience ID (UUID).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Summary of what was queued.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["audienceId","totalMembers","candidates","enqueued","skipped","errors","dry","sample"],"properties":{"audienceId":{"type":"string","format":"uuid"},"totalMembers":{"type":"integer","minimum":0},"candidates":{"type":"integer","minimum":0,"description":"Members matching the filter (missing portrait, or all when `force`), after `limit`."},"enqueued":{"type":"integer","minimum":0,"description":"Jobs actually queued; 0 on a dry run."},"skipped":{"type":"integer","minimum":0,"description":"Members left alone because they already have a portrait."},"errors":{"type":"integer","minimum":0,"description":"Members whose job could not be queued."},"dry":{"type":"boolean"},"sample":{"type":"array","maxItems":10,"description":"The first up to 10 queued (or, on a dry run, candidate) Minds.","items":{"type":"object","required":["id","name"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}}}}}}}}}}},"400":{"description":"`Audience ID is required` or `Invalid audience ID format`."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Audience not found`: the Audience does not exist or the caller is not its owner."}},"operationId":"regenerateAudienceImages","summary":"Queue profile-image generation for the Minds in an Audience","description":"Bulk-enqueues portrait generation for the member Minds of an Audience. Owner only. By default only members without a `profileImageUrl` are queued; `force: true` clears and regenerates existing portraits too. Fire-and-forget: the response returns as soon as the jobs are queued, and images arrive asynchronously; poll `GET /audiences/{audienceId}` (member `profileImageUrl`) or `GET /minds/{mindId}`. Use `dry: true` to see what would be queued without queuing anything.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"force":{"type":"boolean","default":false,"description":"Regenerate even for Minds that already have a portrait (their current URL is cleared first)."},"limit":{"type":"integer","minimum":1,"description":"Cap the number of Minds queued in this call (oldest members first). No cap by default."},"dry":{"type":"boolean","default":false,"description":"Report the candidates without enqueueing."}}},"examples":{"missingOnly":{"value":{}},"forceFirstTen":{"value":{"force":true,"limit":10}}}}}}}},"/api/v1/audiences/active-progress":{"get":{"parameters":[],"responses":{"200":{"description":"Active Audience progress snapshots."},"401":{"description":"Unauthorized."}},"operationId":"listActiveAudienceProgress","summary":"List active Audience creation progress","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/allocation-preview":{"post":{"parameters":[],"responses":{"200":{"description":"Deterministic allocation preview."},"400":{"description":"Invalid count or distributions."},"401":{"description":"Missing or invalid API key."}},"operationId":"previewCohortAllocation","summary":"Preview deterministic cohort allocation","description":"Convert marginal distributions into exact integer quotas and deterministic member profiles without creating an Audience. This is the contract intended for API clients and future product UI controls.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["memberCount"],"properties":{"memberCount":{"type":"integer","minimum":1,"maximum":1000},"seedBasis":{"type":"string","maxLength":1000},"distributions":{"type":"array","maxItems":200,"items":{"$ref":"#/components/schemas/GroundingDistribution"}},"cohortAllocation":{"type":"object"},"reviewedGroundingJson":{"type":"string","description":"Unchanged reviewed snapshot. Its rules and axis metadata are retained."},"reviewedGroundingSha256":{"type":"string"},"researchStudyAnalysis":{"type":"object","description":"Questionnaire analysis including routing rules, when sending distributions directly."}}}}}}}},"/api/v1/audiences/from-brief":{"post":{"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Retry-safety key, max 200 chars (also accepted as the `idempotencyKey` body field; the header wins). Creation can exceed typical client timeouts — retrying with the same key within 6 hours returns the audience the original request created (200, `replayed: true`) instead of creating a duplicate."},{"name":"Prefer","in":"header","required":false,"schema":{"type":"string","enum":["respond-async"]},"description":"Return 202 after durable admission and run the complete build on the processor."}],"responses":{"200":{"description":"Either an idempotent replay (the supplied idempotency key already created an audience within the replay window; returns that audience with `replayed: true`, nothing new is created, no plan allowances are consumed, `datasetSegmentation` is not reconstructed) or a saved-snapshot/internal `groundingPreview` result containing reviewed grounding, checksum, effective cohortAllocation audit, flags, and size with no Audience or Minds created.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AudienceFromBriefResult"}}}}}},"201":{"description":"Grounded audience created.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AudienceFromBriefResult"}}}}}},"202":{"description":"Creation or a fresh public grounding preview accepted by the processor, including when async is omitted or false. Saved-snapshot previews also return 202 when explicitly requested asynchronously. Poll `data.statusUrl` until completed or failed; `data.result` contains the same completed response as a synchronous request.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["jobId","status","progress","statusUrl"],"properties":{"jobId":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["queued","processing","completed"]},"progress":{"type":"integer","minimum":0,"maximum":100},"statusUrl":{"type":"string"}}}}}}}},"400":{"description":"Missing `text`, text too long, or invalid input."},"401":{"description":"Missing or invalid API key."},"403":{"description":"Plan limit reached (`code: PLAN_LIMIT`), or an explicit count above the 20-Mind balanced-mode ceiling (`code: MODE_CAP` — use `segment_coverage` or `benchmark_depth`)."},"409":{"description":"An idempotency key is already in progress or was reused with a different explicit member count, or the reviewed grounding checksum does not match."},"422":{"description":"No personas could be derived from the brief."},"500":{"description":"Internal server error."}},"operationId":"createAudienceFromBrief","summary":"Create a grounded audience from a brief","description":"Create one Audience from a free-text brief. Attached research files use the same extended screener/questionnaire analysis as the in-app New Audience flow, including Study roles, screening and quota rules, review distributions, and grounding provenance. Public bearer-authenticated V1 requests return `202 Accepted`; poll the returned status URL until the durable processor operation completes.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["text"],"properties":{"text":{"type":"string","minLength":1,"maxLength":200000,"description":"Free-text brief describing the audience or population to represent."},"name":{"type":"string","description":"Optional audience name override. When omitted, the server names the audience from the brief or detected personas."},"files":{"type":"array","description":"Already-uploaded research files analyzed through the same extended Audience study-ingestion path as the in-app New Audience uploader.","items":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string"},"url":{"type":"string"}}}},"links":{"type":"array","description":"URLs to scrape for additional context.","items":{"type":"string"}},"keywords":{"type":"array","description":"Search keywords used as extra context and research seeds.","items":{"type":"string"}},"includeWebSearch":{"type":"boolean","default":true,"description":"When false, skips Exa search/extraction completely and grounds only on the supplied brief, files, links, keywords, and structurally parsed respondent data."},"isLinkSharingEnabled":{"type":"boolean","description":"Enable public link sharing for the created audience."},"generateImages":{"type":"boolean","default":true,"description":"Generate AI profile images and an audience cover asynchronously. Pass false to keep fallback visuals and avoid all image-model calls for this creation."},"trainMembers":{"type":"boolean","default":true,"deprecated":true,"description":"Deprecated; omit it. Every member of every Audience is individually trained in the background, including large reviewed-dataset cohorts (> 40 Minds), through the same per-member pipeline the in-app flow uses, keeping each Mind's deterministic cohort profile and the request locale. `true` is accepted as a no-op; `false` is rejected with 400 `TRAIN_MEMBERS_OPT_OUT_REMOVED` (it used to create untrained Minds with an empty system prompt that reported ready). Cost and time: each member consumes one Mind training (research, knowledge and prompt generation); a 100-Mind cohort typically finishes over tens of minutes to a few hours, staggered per Audience. The response returns as soon as the Audience exists; poll GET /api/v1/minds/{mindId}/training per member (or the Audience progress endpoint) and wait for every member to report readyToChat before running a Study — Study runs refuse Audiences with untrained members."},"idempotencyKey":{"type":"string","maxLength":200,"description":"Retry-safety key (same semantics as the `Idempotency-Key` header, which wins when both are sent). Reusing the key within 6 hours replays the audience it created instead of duplicating it."},"async":{"type":"boolean","description":"Optional async hint for internal cookie-authenticated callers. Public bearer-authenticated V1 requests are always enqueued and return a pollable 202 operation."},"groundingPreview":{"type":"boolean","default":false,"description":"Review the quota axes before any Mind exists. When true the request runs research grounding plus a deterministic allocation preview and returns the reviewed grounding, checksum, effective cohortAllocation audit, flags, and size without creating an Audience or Minds or consuming generation allowance. Fresh public previews always return a durable 202 operation, including when `async` is omitted or false. Saved-snapshot previews may return inline; send `async: true` or `Prefer: respond-async` to queue those too. Poll its status URL for the same preview result. Explicit allocation targets that cannot match the grounded axes fail closed with 422, just like creation. Axes that measure the Study outcome itself are demoted to supplementary context and listed in `flaggedDistributions`."},"reviewedGroundingJson":{"type":"string","description":"Exact reviewed grounding snapshot returned by a prior preview. Send it unchanged with reviewedGroundingSha256 to re-preview revised exclusions/allocation options against the same evidence, or to create from the latest accepted preview without rerunning grounding research."},"reviewedGroundingSha256":{"type":"string","pattern":"^[0-9a-fA-F]{64}$","description":"SHA-256 returned with reviewedGroundingJson. Both fields are required together; creation fails before materialisation when the checksum does not match."},"excludeDistributions":{"type":"array","maxItems":200,"items":{"type":"string"},"description":"Exact axis names whose composition quotas should be removed. Age remains as one eligibility range without within-range shares; explicit gender membership remains enforced. Include required eligibility axes in cohortAllocation.distributionNames. Original evidence stays in reviewDistributions."},"memberCount":{"type":"integer","minimum":1,"maximum":1000,"description":"Exact number of Minds to create. Wins over any count parsed from `text` and over grounding suggestions, while remaining subject to the effective plan and creation-mode caps."},"audienceCreationMode":{"type":"string","enum":["balanced","segment_coverage","benchmark_depth"],"deprecated":true,"description":"Deprecated alias for `audienceCreationMode`. If both fields are supplied, their values must match."},"datasetSegmentation":{"type":"object","description":"Reviewed research-variable roles, distributions, privacy-safe pairwise relationships, and deterministic dependencies (recodes and questionnaire routing filters) returned by the segmentation-preview endpoint. Pass `functionalDependencies` and `dependencyDiscovery` through unchanged: the first are hard constraints, so a synthetic respondent never breaks a recode and a filtered question stays unanswered at the source rate; the second reports which discovery bounds applied and is echoed into `cohortAllocation.audit.jointConsistency`. Omitting it does not disable enforcement, but the audit will say the bounds are unknown. Requires Team plus `benchmark_depth`. Structural variables shape a representative cohort; outcomes remain held out and observed joint combinations remain audit evidence rather than respondent-like Minds."},"cohortAllocation":{"type":"object","description":"Deterministic allocation controls. Grounded marginals are converted into exact integer quotas server-side; the LLM does not decide proportions. Omit for deterministic defaults.","properties":{"enabled":{"type":"boolean","default":true},"seed":{"type":"string","maxLength":200},"distributionNames":{"type":"array","maxItems":500,"items":{"type":"string"}},"maxDistributions":{"type":"integer","minimum":1,"maximum":500,"default":500},"minSegmentCount":{"type":"integer","minimum":0,"maximum":20,"default":0},"targetOverrides":{"type":"array","maxItems":500,"description":"Partial or full target-percentage overrides. Unspecified segments keep their source percentages; the audit preserves sourcePct and normalizedTargetPct separately.","items":{"type":"object","required":["distribution","segments"],"properties":{"distribution":{"type":"string"},"segments":{"type":"array","items":{"type":"object","required":["label","pct"],"properties":{"label":{"type":"string"},"pct":{"type":"number","minimum":0,"maximum":100}}}}}}},"jointStrategy":{"type":"string","enum":["independent","aligned","observed"],"default":"independent"},"includeProfilesInResponse":{"type":"boolean","default":false}}}}},"examples":{"demographicAudience":{"summary":"Create an Audience","value":{"text":"Berlin Spati customers who buy late-night snacks","name":"Berlin Spati Customers","links":["https://example.com/customer-research"],"keywords":["Berlin convenience store demographics"]}}}}}}}},"/api/v1/audiences/from-brief/jobs/{jobId}":{"get":{"parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Current operation state and, when terminal, its result or error."},"401":{"description":"Missing or invalid API key."},"404":{"description":"Operation not found or not owned by the caller."}},"operationId":"getAudienceFromBriefCreationJob","summary":"Get a from-brief Audience preview or creation operation","description":"Poll the durable operation returned by an asynchronous from-brief preview or creation request. A completed preview returns its reviewed grounding and checksum without creating an Audience or Minds.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/from-brief/segmentation-preview":{"post":{"parameters":[],"responses":{"200":{"description":"Complete variable distribution review."},"400":{"description":"Unsupported, empty, or invalid spreadsheet."},"401":{"description":"Missing or invalid authentication."},"403":{"description":"Enterprise dataset segmentation review requires Team."},"413":{"description":"Dataset exceeds the explicit review limit; no partial preview is returned."}},"operationId":"previewAudienceDatasetSegmentation","summary":"Preview spreadsheet segmentation distributions","description":"Enterprise review step for grounded audience creation. Classifies respondent-level XLS/XLSX/CSV fields by research role, selects population and segmentation variables while holding outcomes and drivers out, and discovers privacy-safe pairwise relationships. Questionnaire/programming grids are rejected as design evidence instead of being misrepresented as completed respondents. Joint profiles are counted for audit only; rows are never silently sampled.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string"},"url":{"type":"string"}}},"segmentationColumns":{"type":"array","items":{"type":"string"},"description":"Column keys returned by an earlier preview. Omit to select every non-identifier column."}}}}}}}},"/api/v1/audiences":{"get":{"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":100}},{"name":"offset","in":"query","schema":{"type":"integer","minimum":0,"default":0}}],"responses":{"200":{"description":"Visible Audiences with member readiness and pagination.","content":{"application/json":{"schema":{"type":"object","required":["data","pagination"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","name","mindCount","minds","currentMemberRole"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"mindCount":{"type":"integer","minimum":0},"minds":{"type":"array","items":{"type":"object"}},"currentMemberRole":{"type":"string","enum":["owner","admin","member","team_member","public_viewer"]}}}},"pagination":{"type":"object","required":["total","limit","offset"],"properties":{"total":{"type":"integer","minimum":0},"limit":{"type":"integer","minimum":1,"maximum":100},"offset":{"type":"integer","minimum":0}}}}}}}},"401":{"description":"Authentication required."}},"operationId":"listAudiences","summary":"List visible Audiences","description":"Lists owned, public, directly shared, and team-shared Audiences. Sharing fields are returned only when the caller has collaborator access.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]},"post":{"parameters":[{"name":"x-minds-idempotency-key","in":"header","required":false,"description":"Reuse for retries of the same creation. Blank keys and keys longer than 128 characters are ignored.","schema":{"type":"string","maxLength":128}}],"responses":{"200":{"description":"Idempotent replay of the saved Audience.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedAudienceResponse"}}}},"201":{"description":"The newly created saved Audience.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedAudienceResponse"}}}},"400":{"description":"Invalid name or retired request fields."},"401":{"description":"Authentication required."},"403":{"description":"The account cannot create this Audience under its current plan or access permissions."},"404":{"description":"One or more requested Minds are missing or inaccessible."}},"operationId":"createAudience","summary":"Create an Audience from existing Minds","description":"Creates a private saved Audience by default. An optional per-creation idempotency key replays the same Audience with status 200; a new Audience returns 201.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"description":"Non-blank Audience name; surrounding whitespace is trimmed."},"mindIds":{"type":"array","items":{"type":"string"},"default":[],"description":"Accessible existing Mind IDs. Duplicate IDs are deduplicated. Use mindIds, not the retired mindIds field."},"isLinkSharingEnabled":{"type":"boolean","default":false,"description":"Enable only after explicit approval to share a public link."}}}}}}}},"/api/v1/audiences/library":{"get":{"parameters":[{"in":"query","name":"mode","description":"Opt into bounded pages; omitted preserves the legacy projection.","schema":{"type":"string","enum":["summary"]}},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":60}},{"in":"query","name":"after","description":"Opaque nextCursor from the previous page with the same search and sort.","schema":{"type":"string"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["name","createdAt","updatedAt"],"default":"updatedAt"}},{"in":"query","name":"direction","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"in":"query","name":"search","description":"Search all visible records, including unloaded pages.","schema":{"type":"string","maxLength":200}},{"in":"query","name":"ids","description":"Comma-separated UUIDs; at most 100.","schema":{"type":"string"}},{"in":"query","name":"fresh","required":false,"description":"Set to 1 after an access change to bypass the short-lived library cache.","schema":{"type":"string","enum":["1"]}}],"responses":{"200":{"description":"Summary mode returns data with mindCount and membersLoaded=false, plus pageInfo.nextCursor. Membership arrays are partial."},"401":{"description":"Missing or invalid authentication."}},"operationId":"listAudienceLibrary","summary":"List the first-party Audience library projection","description":"Returns owned, followed, directly shared, and team-shared Audiences with caller-specific access fields.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/lifecycle/stream":{"get":{"parameters":[],"responses":{"200":{"description":"Server-sent connected, invalidation, and heartbeat events.","content":{"text/event-stream":{"schema":{"type":"string","description":"SSE frames whose invalidation payload includes durable-state domains to re-read."}}}}},"operationId":"streamAudienceLifecycle","summary":"Stream Audience lifecycle invalidations","description":"User-scoped SSE wakeups for Audience draft, Audience, and Mind revalidation. Events are hints; clients must re-read durable state.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/limits":{"get":{"parameters":[],"responses":{"200":{"description":"Effective Audience creation limits.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object"}}}}}},"401":{"description":"Missing or invalid authentication."}},"operationId":"getAudienceLimits","summary":"Audience creation limits for the authenticated account","description":"Return the Audience size ceilings that apply to this account: the per-Audience plan cap (including a configured team override), the absolute system limit, the custom-size maximum, and per-creation-mode ceilings. scope identifies the authenticated user and entitlement team; allowance identifies the plan default, team override or legacy unlimited conversion; checkedAt is the observation time. These are per-Audience sizes, not a total workspace allowance or remaining credits. Match scope to the intended account before attributing these limits to it. Call this before creating an Audience to learn the real limits rather than discovering them from a 403. Mode ceilings come in two kinds and they are not interchangeable: `automaticSizingCeiling` bounds the size the server picks when no memberCount is given, while `explicitCountCeiling` bounds a size you state — only \"balanced\" enforces one, as 403 MODE_CAP.","tags":["Audiences"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/audiences/source-import":{"post":{"parameters":[],"responses":{"200":{"description":"Imported files and optional reviewed grounding snapshot.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object"}}}}}},"400":{"description":"Invalid text, grounding, source reference or foreign file."},"401":{"description":"Authentication required."},"413":{"description":"Import is too large."},"502":{"description":"Source storage unavailable; retrying the same import is safe."}},"operationId":"importAudienceSources","summary":"Import supplied UTF-8 audience research sources","tags":["Audiences"],"description":"Store up to 20 caller-supplied text, Markdown, CSV or JSON files (5 MB each, 12 MB total) as durable account-owned uploads. Optional groundingJson binds explicit supplied chart percentages to these files and returns a normalized snapshot/checksum for groundingPreview and creation. No research, Minds, or Audience is created. Identical file imports replay the same content-addressed URLs.","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"files":{"type":"array","maxItems":20,"items":{"type":"object","required":["name","content"],"properties":{"name":{"type":"string","maxLength":200},"content":{"type":"string","maxLength":5242880}}}},"existingFiles":{"type":"array","maxItems":20,"items":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string"},"url":{"type":"string"}}}},"groundingJson":{"type":"string","maxLength":2000000}}}}}}}},"/api/v1/auth/me":{"get":{"parameters":[],"responses":{"200":{"description":"The authenticated user.","content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"string","format":"uuid","description":"User ID the API key belongs to."}}},"example":{"id":"550e8400-e29b-41d4-a716-446655440000"}}}},"401":{"description":"Missing or invalid API key (`Unauthorized`)."}},"operationId":"getAuthenticatedUser","summary":"Identify the authenticated user","description":"Return the user ID that the presented API key belongs to. Use it to confirm a key is valid at startup, after rotating keys, or to learn which account an integration is acting as. Any rejected credential returns the same generic 401 `Unauthorized`; the API does not distinguish a missing key from an invalid or revoked one.","tags":["Auth"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/chats/{chatId}":{"delete":{"parameters":[{"in":"path","name":"chatId","required":true,"description":"Chat UUID (the `data.id` returned by `POST /v1/chats`).","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Chat deleted. No body."},"400":{"description":"`Chat ID is required` or `Invalid chat ID format` (not a UUID)."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"403":{"description":"The chat exists but the caller is not its owner (`Forbidden`)."},"404":{"description":"No chat with this ID (`Chat not found`)."},"500":{"description":"Internal server error."}},"operationId":"deleteChat","summary":"Delete a chat","description":"Permanently delete a stateful chat created with `POST /v1/chats` together with its messages, Mind assignments and Study Audience memberships. Only the chat owner may delete it; the Minds and Audiences themselves are untouched. Use this to clean up finished conversations. Returns 204 with an empty body.","tags":["Chat"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/chats/{chatId}/messages":{"post":{"parameters":[{"in":"path","name":"chatId","required":true,"description":"Chat UUID returned by `POST /v1/chats`.","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Reply generated (or system note stored). Discriminate on the presence of `messages` (multi-Mind), `outputData` (Study), `role: \"system\"` (system note) or `content` (single Mind).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageResponse"},"examples":{"singleMind":{"summary":"Single-Mind reply","value":{"content":"Recent advancements include perovskite cells with 30%+ efficiency…","messageId":"cmnkbsddh00033v01ptk9t4et"}},"structured":{"summary":"Single-Mind reply with structured output","value":{"content":"{\"score\":8,\"reason\":\"Concrete benefit, memorable rhythm.\"}","messageId":"cmnkbsddh00033v01ptk9t4et","parsed":{"score":8,"reason":"Concrete benefit, memorable rhythm."}}},"toolCall":{"summary":"Single-Mind reply requesting a tool call","value":{"content":"","messageId":"cmnkbsddh00033v01ptk9t4et","tool_calls":[{"id":"call_abc123","name":"create_meeting","arguments":{"startsAt":"2026-09-08T10:00:00+02:00","durationMinutes":30}}]}},"multiMind":{"summary":"Multi-Mind replies","value":{"messages":[{"content":"From a growth angle…","messageId":"cmnkbsddh00033v01ptk9t4et","mind":{"id":"4774888e-0a03-40d7-979b-39b47c4c049c","name":"Ada"}},{"content":"I disagree on timing…","messageId":"cmnkbsddh00043v01abcd1234","mind":{"id":"9bf44ab0-9d83-42ec-b941-c0ab7610e949","name":"Grace"}}]}},"study":{"summary":"Study chat aggregated output","value":{"outputData":{"title":"How likely are you to recommend this product?","type":"scale","audiences":[{"audience":"Gen Z shoppers","value":"7.4","answers":[{"value":"8","persona":"Mia","message":"Pretty likely — the onboarding was quick."}]}]}}},"system":{"summary":"System note stored","value":{"messageId":"cmnkbsddh00053v01sys00001","role":"system"}}}}}},"400":{"description":"Validation error: `Message content is required`, `Invalid chat ID format`, `role must be \"user\" or \"system\"`, `Both model and provider required for override`, `Invalid provider: '{provider}'. Allowed: anthropic, openai, google.`, `Invalid model '{model}' for provider '{provider}'.`, invalid `response_format` / `tools` / `tool_choice` (e.g. `tools[0].name 'WEB_SEARCH' conflicts with an internal tool name`, `Maximum 128 tools allowed`), `Study must have at least one assigned Mind`, or for Study chats `Study has no audiences assigned` / `Study audiences have no Mind members`."},"401":{"description":"Missing or invalid API key."},"402":{"description":"Study chats only: an attached Audience is a paid marketplace add-on you have not subscribed to (`data.code: MARKETPLACE_ADDON_REQUIRED`)."},"403":{"description":"Plan limit reached (`data.code: PLAN_LIMIT`). One of: the per-chat user-message cap (`limitType: messages`, `{Plan} plan limit reached`); the started-Study cap when this is the first user message in the chat (`limitType: flows`); the monthly synthetic-response allowance, reserved before generation and charged per replying Mind (`limitType: responses`, includes `periodEnd`); or for Study chats an Audience above the per-Audience member cap (`limitType: audienceMembers`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPlanLimitError"}}}},"404":{"description":"No chat with this ID owned by the caller (`Study not found or access denied`), or `User profile not found`."},"409":{"description":"Study chats only: no Mind in the attached Audiences is ready to chat (`data.code: PANEL_MINDS_NOT_READY`). Status message is `{n} Mind(s) in this study is/are still training` or `… failed training and must be retrained before a study can run`. Partially trained Studies proceed with the ready subset instead of failing.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatStudyMindsNotReadyError"}}}},"500":{"description":"Generation failed, or for multi-Mind chats `No Minds responded`."},"503":{"description":"Usage metering is temporarily unavailable (`data.code: USAGE_METERING_UNAVAILABLE`); nothing was generated or charged, retry later."}},"operationId":"sendChatMessage","summary":"Send a message to a chat","description":"Append a turn to a stateful chat and receive the reply. The server persists every message, sends the last 8 turns verbatim and compresses older ones into a rolling summary, so you only ever send the new message. The response shape depends on how the chat was created: a single-Mind chat returns `content` + `messageId` (plus `parsed` / `tool_calls` when structured output or tools were requested); a multi-Mind chat returns `messages[]` with one entry per Mind the moderator let speak (each Mind at most once per turn, up to 5 turns); a Study chat fans the message out to every ready Mind in the attached Audiences and returns aggregated `outputData`. Send `role: \"system\"` to store a note in the transcript without triggering any reply. Only the chat owner can post. This endpoint always responds with buffered JSON; for progress streaming use `POST /v1/minds/{mindId}/completion` with `responseMode: \"stream\"`.","tags":["Chat"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageRequest"},"examples":{"basic":{"summary":"Plain user message","value":{"content":"What are the top marketing trends this year?"}},"withEndUser":{"summary":"Name the end user and pin the model","value":{"content":"Which of those fits a small budget?","endUserName":"Lena","model":"claude-sonnet-5","provider":"anthropic"}},"structured":{"summary":"Structured output (single-Mind chat only)","value":{"content":"Rate this tagline from 1 to 10 and explain: \"Ship faster, sleep better.\"","response_format":{"type":"json_schema","json_schema":{"name":"tagline_rating","schema":{"type":"object","properties":{"score":{"type":"integer","minimum":1,"maximum":10},"reason":{"type":"string"}},"required":["score","reason"]}}}}},"tools":{"summary":"Function calling (single-Mind chat only)","value":{"content":"Book a 30 minute call with me tomorrow at 10:00.","tools":[{"name":"create_meeting","description":"Create a calendar meeting","parameters":{"type":"object","properties":{"startsAt":{"type":"string","format":"date-time"},"durationMinutes":{"type":"integer"}},"required":["startsAt","durationMinutes"]}}],"tool_choice":"auto"}},"systemNote":{"summary":"Store a system note without a reply","value":{"role":"system","content":"The user has switched to the enterprise plan."}}}}}}}},"/api/v1/chats":{"post":{"parameters":[],"responses":{"200":{"description":"Existing response thread resumed.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ChatCreated"}}}}}},"201":{"description":"Chat created. Mind chats return `data.minds`; Study chats return `data.type: \"study\"` and `data.audiences`.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"oneOf":[{"$ref":"#/components/schemas/ChatCreated"},{"$ref":"#/components/schemas/ChatStudyCreated"}]}}},"examples":{"singleMind":{"summary":"Mind chat","value":{"data":{"id":"601af953-3837-49c1-a31e-4fdbfa82ac04","name":"Research Session","description":null,"createdAt":"2026-04-04T12:45:24.078Z","minds":[{"id":"4774888e-0a03-40d7-979b-39b47c4c049c","name":"Ada Lovelace","discipline":"Mathematics"}]}}},"study":{"summary":"Study chat","value":{"data":{"id":"7c1d2c0e-3b1a-4c0f-9f2e-0e6a1b2c3d4e","name":"Onboarding feedback","type":"study","audiences":[{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Gen Z shoppers","mindCount":25}],"createdAt":"2026-04-04T12:45:24.078Z"}}}}}}},"400":{"description":"Validation error: `At least one of mindId, mindIds, or audienceIds is required`, `At least one Mind ID is required`, or a retired field name (rejected with a message naming its replacement)."},"401":{"description":"Missing or invalid API key."},"402":{"description":"Study chats only: an attached Audience is a paid marketplace add-on you have not subscribed to (`This Audience requires an active add-on subscription to use.`, `data.code: MARKETPLACE_ADDON_REQUIRED` with `audienceId`, `addOnId`, `priceLabel`)."},"403":{"description":"Plan limit reached (`data.code: PLAN_LIMIT`). Either the started-Study cap (`limitType: flows`, `context: chatCreation` or `studyCreation`, status message `{Plan} plan includes N Studies. Upgrade to … to create more Studies.`) or, for Study chats, an attached Audience exceeds the per-Audience member cap (`limitType: audienceMembers`).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPlanLimitError"}}}},"404":{"description":"A referenced Mind or Audience does not exist or is not accessible: `Minds not found: {ids}`, `No valid Minds found`, `Audiences not found: {ids}`. Also `User profile not found` when the API key owner has no profile."},"500":{"description":"Internal server error."}},"operationId":"createChat","summary":"Create a stateful chat","description":"Create a persistent conversation whose history, context compression and rolling summary are managed server-side, then post turns with `POST /v1/chats/{chatId}/messages`. Pick exactly one shape: `mindId` for a 1:1 chat with a single Mind, `mindIds` for a multi-Mind conversation where a moderator decides which Mind answers each turn, or `audienceIds` for a Study chat that fans every message out to all Minds in the attached Audiences and returns aggregated output. Use this when you want the server to remember the conversation; use `POST /v1/minds/{mindId}/completion` when you manage history yourself. Minds must be owned by you, public, or shared with your team; Audiences must be ones you own, belong to, or that are public or shared with your team. Retired field names are rejected with 400 naming the replacement.","tags":["Chat"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreateRequest"},"examples":{"singleMind":{"summary":"1:1 chat with one Mind","value":{"name":"Research Session","mindId":"4774888e-0a03-40d7-979b-39b47c4c049c"}},"multiMind":{"summary":"Multi-Mind conversation","value":{"name":"Launch debate","mindIds":["4774888e-0a03-40d7-979b-39b47c4c049c","9bf44ab0-9d83-42ec-b941-c0ab7610e949"]}},"study":{"summary":"Study chat over Audiences","value":{"name":"Onboarding feedback","description":"Gen Z shoppers","audienceIds":["550e8400-e29b-41d4-a716-446655440000"]}}}}}}}},"/api/v1/minds/{mindId}":{"delete":{"parameters":[{"in":"path","name":"mindId","required":true,"description":"Mind UUID.","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Mind deleted. Empty body."},"400":{"description":"`Invalid Mind ID format` (not a UUID)."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"404":{"description":"`Mind not found`: the Mind does not exist or is not owned by the caller."},"500":{"description":"`Failed to delete Mind`: the cleanup workflow failed; the Mind may still exist."}},"operationId":"deleteMind","summary":"Delete a Mind","description":"Permanently delete one Mind you own together with its knowledge, patterns, portfolio items, chat history, stored files, and any assigned WhatsApp phone number. Only the owner (the account that created the Mind) can delete it; Minds that are merely shared with you, or visible through a team, Audience, or Study, return 404 `Mind not found` rather than 403. This cannot be undone. To delete several Minds with the same cleanup semantics use `DELETE /v1/minds` with a `mindIds` body.","tags":["Minds"],"security":[{"ApiKeyAuth":[]}]},"get":{"parameters":[{"in":"path","name":"mindId","required":true,"description":"Mind UUID.","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Mind detail.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/MindDetail"}}}}}},"400":{"description":"Invalid Mind ID format (not a UUID)."},"401":{"description":"Missing or invalid API key."},"403":{"description":"Caller does not have access to this Mind."},"404":{"description":"Mind does not exist."},"500":{"description":"Internal server error."}},"operationId":"getMind","summary":"Get a Mind by ID","description":"Retrieve full details for a single Mind, including its generated system prompt, sharing settings, voice clone status, and knowledge-item count. Returns 403 if the caller is not the owner, team member, direct member, or the Mind is not public.","tags":["Minds"],"security":[{"ApiKeyAuth":[]}]},"put":{"parameters":[{"in":"path","name":"mindId","required":true,"description":"Mind UUID.","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The updated Mind.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["id","name","description","type","discipline","systemPrompt","sourcePolicy","tags","isPublic","isLinkSharingEnabled","publicShareId","profileImageUrl","createdAt","updatedAt"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["creative","expert","user"]},"discipline":{"type":["string","null"]},"systemPrompt":{"type":"string","description":"Full system prompt after the update."},"sourcePolicy":{"type":"string","enum":["auto","knowledge_only"],"description":"Persisted source policy."},"tags":{"type":"array","items":{"type":"string"}},"isPublic":{"type":"boolean","description":"Always false for individual Minds."},"isLinkSharingEnabled":{"type":"boolean"},"publicShareId":{"type":["string","null"],"format":"uuid","description":"Share token; set only while link sharing is enabled."},"profileImageUrl":{"type":["string","null"],"format":"uri","description":"Avatar image; resolved to an absolute URL."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}}}}}}},"400":{"description":"`Invalid Mind ID format`, `Name must be between 2 and 100 characters`, `sourcePolicy must be one of: auto, request_only, knowledge_only`, or `No valid fields to update` (body contained none of the editable fields)."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"403":{"description":"`Forbidden`: caller is not the owner, a direct member, or a member of the team the Mind is shared with."},"404":{"description":"`Mind not found`."},"500":{"description":"Internal server error."}},"operationId":"updateMind","summary":"Update a Mind","description":"Partially update an existing Mind. Send only the fields you want to change; omitted fields are left untouched, and at least one recognised field must be present. Callable by the owner, by a direct Mind member, or by a member of the team the Mind is shared with; everyone else gets 403 `Forbidden`. Existence and permission are checked before the body is validated, so a missing or forbidden Mind always yields 404/403 rather than a field error. Note that `isPublic` is accepted for backward compatibility but always stored as `false` (individual Minds can no longer be made public; share an Audience instead), and `type` values outside `creative`, `expert`, `user` are normalised to `creative`. Sharing changes: `isLinkSharingEnabled: true` keeps or generates the `publicShareId`, `false` clears it.","tags":["Minds"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMindRequest"},"examples":{"systemPrompt":{"summary":"Replace the system prompt","value":{"systemPrompt":"Du bist ein erfahrener Handwerker im Sanitärbereich. Antworte immer aus deiner persönlichen Praxiserfahrung."}},"profile":{"summary":"Update several profile fields","value":{"name":"Senior Plumber Expert","description":"Expert plumber with 20 years of experience","discipline":"Plumbing & Sanitary Installation","tags":["plumbing","sanitary","renovation"]}},"sharing":{"summary":"Enable link sharing and lock answers to Mind knowledge","value":{"isLinkSharingEnabled":true,"sourcePolicy":"knowledge_only"}}}}}}}},"/api/v1/minds/{mindId}/completion":{"post":{"parameters":[{"in":"path","name":"mindId","required":true,"description":"Mind UUID.","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Reply generated. `application/json` for `responseMode: \"sync\"` (default); `text/event-stream` for `responseMode: \"stream\"`, where the `result` frame carries the identical `MindCompletionResponse` payload and any failure (including 401/403/404/409/429) is reported as an `error` frame.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MindCompletionResponse"},"examples":{"text":{"summary":"Text reply with citations","value":{"messageId":"msg_550e840029b141d4a716446655440000","content":"Recent advancements include perovskite cells with 30%+ efficiency[[CITE:0]]…","metadata":{"ragCitations":[{"id":"9bf44ab0-9d83-42ec-b941-c0ab7610e949","displaySource":"Mind knowledge","similarity":0.89,"sourceType":"mind_knowledge"}],"answerProvenance":{"origin":"cited_sources","sourcePolicy":"auto","retrievalAttempted":true,"retrievalChunksFound":4,"evidenceSourceTypes":["mind_knowledge"],"fallbackStatus":"grounded","unsupported":false,"recordedAt":"2026-09-07T10:00:00.000Z","verifier":"single-mind-answer-provenance-v1"}}}},"structured":{"summary":"Structured output","value":{"messageId":"msg_550e840029b141d4a716446655440001","content":"{\"sentiment\":\"positive\",\"confidence\":0.95}","parsed":{"sentiment":"positive","confidence":0.95}}},"toolCall":{"summary":"Tool call requested","value":{"messageId":"msg_550e840029b141d4a716446655440002","content":"","tool_calls":[{"id":"call_abc123","name":"get_weather","arguments":{"city":"Berlin","units":"celsius"}}]}},"knowledgeOnly":{"summary":"Knowledge-only reply","value":{"messageId":"msg_550e840029b141d4a716446655440003","content":"The study describes classroom smartphone rules as…","metadata":{"sourcePolicy":"knowledge_only","ragCitations":[{"id":"abc123","displaySource":"teacher-archetypes.pdf","sourceType":"mind_knowledge","similarity":0.81}],"knowledgeRetrieval":{"status":"grounded","retrievalAttempted":true,"chunksFound":4,"sourceCount":1,"sources":[{"title":"teacher-archetypes.pdf","sourceType":"mind_knowledge"}]}}}}}},"text/event-stream":{"schema":{"type":"string","description":"Server-Sent Events. Frames are `event: <name>` + `data: <JSON>`; `data` payloads match `MindCompletionSseEvent`. A 2 KB padding comment and a `start` frame are sent immediately, `: heartbeat` comments every 15 s while generating, then exactly one `result` (or `error`) frame followed by `done`."},"examples":{"stream":{"summary":"Full stream","value":"event: start\ndata: {\"type\":\"start\",\"timestamp\":1757239200000}\n\n: heartbeat\n\nevent: result\ndata: {\"messageId\":\"msg_550e840029b141d4a716446655440000\",\"content\":\"The study describes…\",\"metadata\":{\"sourcePolicy\":\"knowledge_only\"}}\n\nevent: done\ndata: {\"type\":\"done\"}\n\n"},"error":{"summary":"Failure inside the stream","value":"event: start\ndata: {\"type\":\"start\",\"timestamp\":1757239200000}\n\nevent: error\ndata: {\"type\":\"error\",\"status\":409,\"message\":\"This Mind is still training\"}\n\n"}}}},"x-event-schema":{"$ref":"#/components/schemas/MindCompletionSseEvent"}},"400":{"description":"Validation error. Path/body: `Mind ID is required`, `Invalid Mind ID format`, `responseMode must be 'sync' or 'stream'`, `sourcePolicy must be one of: auto, request_only, knowledge_only`, `citationMarkers must be one of: inline, none`, `messages[{i}].content must be a non-empty string for role \"user\" (omit messages or send an empty array for the greeting bootstrap)`, `sourcePolicy=knowledge_only cannot be combined with message attachments; upload them to Mind knowledge first`, invalid `response_format` / `tools` / `tool_choice` (see the schemas), `Unsupported provider: '{provider}'. Supported providers: openai, anthropic, google.`, `Cannot auto-detect provider for model '{model}'. Please specify a 'provider' parameter (openai, anthropic, or google).`, `Unsupported model '{model}' for provider '{provider}'. Supported models: …`. After generation started: `data.errorType: model_not_found` (the pinned model is unavailable), `invalid_prompt` (conversation too long or malformed), or `unsupported_model_capability` (`data.capability: tools | tool_choice`: the chosen model cannot call tools or honour a forced `tool_choice`; in stream mode the `error` frame carries `errorType`)."},"401":{"description":"Missing or invalid API key (`Unauthorized`)."},"403":{"description":"Either `Access denied` (the access rule in the description is not met) or a plan limit: the monthly synthetic-response allowance is exhausted (`data.code: PLAN_LIMIT`, `limitType: responses`, `{Plan} plan monthly synthetic-response limit reached. Upgrade your plan for more responses.`, with `periodEnd` for the reset date). One response is reserved before generation and refunded if generation fails.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatPlanLimitError"}}}},"404":{"description":"No Mind with this ID (`Mind not found`)."},"409":{"description":"The Mind is not ready to chat (`data.code: SPARK_NOT_READY`): `This Mind is still training` (`trainingStatus: queued|running`) or `This Mind failed training and must be retrained before it can chat` (`trainingStatus: failed`). Poll `GET /v1/minds/{mindId}/training` until `readyToChat` is true, or retrain. Ephemeral demo Minds are exempt from this gate.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MindCompletionNotReadyError"}}}},"429":{"description":"Rate limit exceeded: at most 30 completions per user per sliding 60 s window (`Too many requests — please try again shortly.`). Every response carries `X-RateLimit-Limit` and `X-RateLimit-Remaining`; a 429 adds `Retry-After` (seconds).","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds until the window resets."},"X-RateLimit-Limit":{"schema":{"type":"integer"}},"X-RateLimit-Remaining":{"schema":{"type":"integer"}}}},"500":{"description":"Generation failed (`AI generation failed. Please try again in a moment.`, `data.errorType: ai_generation_error`). The reserved synthetic response is refunded."},"503":{"description":"Usage metering is temporarily unavailable (`data.code: USAGE_METERING_UNAVAILABLE`); nothing was generated or charged, retry later."}},"operationId":"createMindCompletion","summary":"Stateless completion with a Mind","description":"Send a conversation to a single Mind and get its next reply without any server-side state: you own the history and resend it every call. Omit `messages` (or send `[]`) to get the Mind's greeting. Supports OpenAI-style `response_format` (structured output), user-defined `tools` / `tool_choice` (function calling; calls are returned, never executed), file/link attachments via `messages[].metadata.attachedFiles`, a `model`/`provider` override, `language`, `sourcePolicy: \"knowledge_only\"` for fail-closed answers grounded only in the Mind's uploaded knowledge, and `citationMarkers` to control inline `[[CITE:n]]` markers. Default `responseMode: \"sync\"` returns buffered JSON; `responseMode: \"stream\"` returns Server-Sent Events (`start`, heartbeat comments, then a single `result` frame with the same payload, then `done`) so long generations are not cut off by 100 s proxy timeouts. Access rule: you can chat with Minds you own, Minds shared with you directly or with your team, Minds inside an Audience you own, belong to, or that is shared with your team, and public Minds; anything else returns 403 Access denied. The Mind must be trained (`readyToChat: true` on `GET /v1/minds/{mindId}/training`) or you get 409 `SPARK_NOT_READY`. Each call consumes one synthetic response from your monthly allowance and counts against the 30 completions/minute rate limit.","tags":["Chat"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MindCompletionRequest"},"examples":{"single":{"summary":"Single question","value":{"messages":[{"role":"user","content":"What are the top 3 marketing trends for 2026?"}]}},"greeting":{"summary":"Greeting bootstrap","value":{"messages":[]}},"multiTurn":{"summary":"Multi-turn with client-managed history","value":{"messages":[{"role":"user","content":"What are the top marketing trends?"},{"role":"assistant","content":"AI personalization, short-form video, and community building…"},{"role":"user","content":"How can I implement AI personalization on a budget?"}]}},"attachments":{"summary":"Attach a document","value":{"messages":[{"role":"user","content":"Summarize the key points of this report.","metadata":{"attachedFiles":[{"url":"https://example.com/quarterly-report.pdf","name":"Q4 Report","type":"application/pdf"}]}}]}},"knowledgeOnly":{"summary":"Knowledge-only, plain prose, streamed","value":{"responseMode":"stream","sourcePolicy":"knowledge_only","citationMarkers":"none","messages":[{"role":"user","content":"What does the study say about classroom smartphone rules?"}]}},"structured":{"summary":"Structured output","value":{"messages":[{"role":"user","content":"Analyze the sentiment of: I love this product, it exceeded all my expectations!"}],"response_format":{"type":"json_schema","json_schema":{"name":"sentiment_analysis","schema":{"type":"object","properties":{"sentiment":{"type":"string","enum":["positive","negative","neutral"]},"confidence":{"type":"number","minimum":0,"maximum":1}},"required":["sentiment","confidence"]}}}}},"tools":{"summary":"Function calling","value":{"messages":[{"role":"user","content":"What is the weather in Berlin?"}],"tools":[{"name":"get_weather","description":"Get current weather for a city","parameters":{"type":"object","properties":{"city":{"type":"string"},"units":{"type":"string","enum":["celsius","fahrenheit"]}},"required":["city"]}}],"tool_choice":"auto"}},"modelOverride":{"summary":"Pin a model","value":{"model":"gpt-4o-mini","provider":"openai","language":"de","endUserName":"Lena","messages":[{"role":"user","content":"Was hältst du von nachhaltiger Verpackung?"}]}}}}}}}},"/api/v1/minds/{mindId}/export-download":{"get":{"parameters":[{"in":"path","name":"mindId","required":true,"description":"Mind UUID.","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"jobId","required":false,"description":"Completed export job ID. Omit to download the cached artifact for `format` / `locale`.","schema":{"type":"string"}},{"in":"query","name":"format","required":false,"description":"Export format to download. `markdown` is accepted as an alias for `md`; unknown values fall back to `md`.","schema":{"type":"string","enum":["pdf","md","docx","pptx"],"default":"md"}},{"in":"query","name":"locale","required":false,"description":"Locale of the export. Defaults to the authenticated user's locale; unsupported values are ignored.","schema":{"type":"string","enum":["en","es","fr","de","zh","tr","ar","ja","ko"]}}],"responses":{"200":{"description":"The export file. `Content-Type` matches the artifact and `Content-Disposition` carries the filename.","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}},"text/markdown":{"schema":{"type":"string"}},"application/vnd.openxmlformats-officedocument.wordprocessingml.document":{"schema":{"type":"string","format":"binary"}},"application/vnd.openxmlformats-officedocument.presentationml.presentation":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"`Invalid Mind ID format` (not a UUID)."},"401":{"description":"`Unauthorized`: the Mind is private and no valid credential was supplied."},"403":{"description":"`Not authorized` (caller cannot read this private Mind) or `Exporting results requires an Individual plan or above` (neither the caller nor the Mind owner is on a paid plan; `data.code` is `PLAN_LIMIT`, `limitType` `exports`)."},"404":{"description":"`Mind not found`; `Export not found. Try regenerating it.` (the `jobId` is unknown, not yet completed, or does not match this Mind, format, and locale); or `No export available. Generate it first.` (no cached artifact for that format and locale)."},"500":{"description":"Internal server error (including a failed download from storage)."}},"operationId":"downloadMindExport","summary":"Download a Mind export","description":"Stream the bytes of a completed persona-profile export as a file attachment (`Content-Disposition: attachment`). Pass the `jobId` from `POST /v1/minds/{mindId}/export` (with the same `format` and `locale`) to fetch that job's artifact, or omit `jobId` to download the cached artifact for the given format and locale. Use `GET /v1/minds/{mindId}/export-status` first when you are not sure the export has finished. Public and link-shared Minds can be downloaded without authentication; private Minds require a caller who can read them (see the Minds access rule). Exports also require the caller or the Mind owner to be on an Individual plan or above.","tags":["Minds"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/minds/{mindId}/export-status":{"get":{"parameters":[{"in":"path","name":"mindId","required":true,"description":"Mind UUID.","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"jobId","required":false,"description":"Export job ID returned by `POST /v1/minds/{mindId}/export`. Omit to read the cached artifact / idle state instead.","schema":{"type":"string"}},{"in":"query","name":"format","required":false,"description":"Export format the job or cached artifact was generated in. `markdown` is accepted as an alias for `md`; unknown values fall back to `md`.","schema":{"type":"string","enum":["pdf","md","docx","pptx"],"default":"md"}},{"in":"query","name":"locale","required":false,"description":"Locale of the export. Defaults to the authenticated user's locale; unsupported values are ignored.","schema":{"type":"string","enum":["en","es","fr","de","zh","tr","ar","ja","ko"]}},{"in":"query","name":"metadata","required":false,"description":"Set to `1` or `true` to omit the inline `content` / `contentBase64` from a completed response.","schema":{"type":"string","enum":["1","true"]}},{"in":"query","name":"inline","required":false,"description":"Set to `0` or `false` to omit the inline `content` / `contentBase64` (same effect as `metadata=1`).","schema":{"type":"string","enum":["0","false"]}}],"responses":{"200":{"description":"Export status. Completed responses carry the artifact inline unless `metadata=1` was passed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MindExportStatusResponse"},"examples":{"processing":{"summary":"Job still running","value":{"data":{"status":"processing","progress":40}}},"completed":{"summary":"Markdown artifact ready","value":{"data":{"status":"completed","kind":"persona_profile","format":"md","filename":"Marketing Expert.md","mimeType":"text/markdown;charset=utf-8","generatedAt":"2025-12-10T12:00:00.000Z","downloadUrl":"/api/v1/minds/550e8400-e29b-41d4-a716-446655440000/export-download?format=md&locale=en&jobId=1234","content":"# Marketing Expert\n\n..."}}},"idle":{"summary":"Nothing generated yet","value":{"data":{"status":"idle"}}}}}}},"400":{"description":"`Invalid Mind ID format` (not a UUID)."},"401":{"description":"`Unauthorized`: the Mind is private and no valid credential was supplied."},"403":{"description":"`Not authorized` (caller cannot read this private Mind) or `Exporting results requires an Individual plan or above` (neither the caller nor the Mind owner is on a paid plan; `data.code` is `PLAN_LIMIT`, `limitType` `exports`)."},"404":{"description":"`Mind not found`."},"500":{"description":"Internal server error."}},"operationId":"getMindExportStatus","summary":"Get Mind export status","description":"Poll a persona-profile export started with `POST /v1/minds/{mindId}/export`. Pass the `jobId` from the queued response (together with the same `format` and `locale`) to follow that job: `queued` and `processing` carry a `progress` percentage, `failed` carries an `error`, and `completed` returns the artifact inline (`content` for md, `contentBase64` for pdf/docx/pptx) plus a `downloadUrl` for `GET /v1/minds/{mindId}/export-download`. Without `jobId` the endpoint reports the cached artifact for that format and locale (`completed`) or `idle` when nothing has been generated yet. Pass `metadata=1` (or `inline=0`) to omit the inline file bytes and receive only filename, MIME type, and download URL. Public and link-shared Minds can be polled without authentication; private Minds require a caller who can read them (see the Minds access rule). Exports also require the caller or the Mind owner to be on an Individual plan or above.","tags":["Minds"],"security":[{"ApiKeyAuth":[]}]}},"/api/v1/minds/{mindId}/export":{"post":{"parameters":[{"in":"path","name":"mindId","required":true,"description":"Mind UUID.","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Cached artifact or queued job."},"400":{"description":"Invalid Mind ID or export format."},"401":{"description":"Authentication required for a private Mind."},"403":{"description":"Caller cannot access the Mind."},"404":{"description":"Mind does not exist."},"500":{"description":"Internal server error."}},"operationId":"exportMindPersona","summary":"Export a Mind persona profile","description":"Generate a branded persona profile for a single Mind, summarizing who they are, how they think and what they read. The heavy generation runs in the processor; the endpoint returns the artifact inline (`content` for md, `contentBase64` for pdf/docx/pptx) and serves a cached result instantly. Formats: pdf (portrait), md, docx, pptx.","tags":["Minds"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"format":{"type":"string","enum":["pdf","md","docx","pptx"],"default":"md"},"force":{"type":"boolean","default":false,"description":"Regenerate even when a cached artifact exists."}}}}}}}},"/api/v1/minds/{mindId}/knowledge/{itemId}":{"delete":{"parameters":[{"in":"path","name":"mindId","required":true,"description":"Mind UUID.","schema":{"type":"s
[...]
